
.email-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background-color: #f7f7f7;
    max-width: 400px; 
    margin: 0 auto;
    
  }
  
  
  .email-header {
    background-color: #b0ab4d; 
    color: #fff; 
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  
  .email-subject {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
  }
  
 
  .email-content {
    padding: 10px;
  }
  
  .email-message {
    font-size: 16px;
    margin-bottom: 10px;
  }
  

  .email-form {
    padding: 10px;
  }
  
  .email-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .email-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .email-form button[type="submit"] {
    height: 40px;
    min-width: 140px;
    font-size: 16px;
    color: white;
    border-width: 2px;
    margin-bottom: 0px;
    background-color: #b0ab4d;
    border-style: none;

  }
  
  .email-form button[type="submit"]:hover {
    background-color: #aba764;
  }
  