<div class="arch_contact_us_duplicate">
    <div class="responsive-container-block big-container">
      <div class="responsive-container-block container">
        <div class="responsive-cell-block wk-ipadp-6 wk-mobile-12 wk-desk-5 wk-tab-9" id="i6df">
          <div class="form-wrapper">
            <input class="input input-element" name="Subject" placeholder="Subject">
            <textarea class="textinput input-element" placeholder="Message"></textarea>
            <div class="d-flex justify-content-center">
                <button class="button">
                  Send
                </button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>